/src/ClinicaMedica.App/bin/Debug/net5.0
/.vs/ClinicaMedica
/src/ClinicaMedica.App/obj
/src/ClinicaMedica.App/Properties
/src/ClinicaMedica.Business/bin/Debug/net5.0
/src/ClinicaMedica.Business/obj
/src/ClinicaMedica.Data/bin/Debug/net5.0
/src/ClinicaMedica.Data/obj
