@model ClinicaMedica.App.ViewModels.MedicoViewModel

@{
    ViewData["Title"] = "Cadastro de Médicos";
}

<h2>Cadastro de Médicos</h2>

<hr />

<div class="col-md-12">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_CreateEdit" />

            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-success" /> &nbsp;
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
