@model ClinicaMedica.App.ViewModels.MedicoViewModel

@{
    ViewData["Title"] = "Editar Médico";
}

<h2>Editar o médico: @Model.Nome</h2>

<hr />

<div class="col-md-12">
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <partial name="_CreateEdit" />

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" /> &nbsp;
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
